name: Build

on:
  push:
    branches: [feature/cicd]
  pull_request:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Build
        run: make all

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: msh
          path: bin/msh
