name: Build and Release

on:
  push:
    branches:
      - feature/cicd

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Build
        run: make all

      - name: Create Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: release-${{ github.sha }}
          name: Release ${{ github.sha }}
          files: bin/msh
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
